@import './variables.scss';

.category-name {
    font-weight: 500;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.2);
}

.question-title {
    padding-top: 10px;
    padding-bottom: 40px;
}

.questions {
    position: relative;
    overflow: hidden;
    height: 100vh;
    .title {
        text-align: center;
    }

    .logo {
        position: absolute;
        bottom: 25px;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
    }
}

.previous-button {
    border-radius: 50%;
    position: absolute;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    color: #efefef;
    margin: 20px;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
}

.answers {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 200px;
    max-width: 600px;
    align-content: center;

    &--img {
        justify-content: space-between;
        width: 600px;
    }
}

.answer {
    padding: 6px 12px;
    border: 1.5px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    width: fit-content;
    margin: 0 10px;  

    &:not(last-child) {
        margin-bottom: 12px;
    }

    &--active {
        border: 1.5px solid $mainColor;
        color: $mainColor;
    }
}


.questions-body {
    padding-top: 60px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
    align-items: center;
    flex-direction: column;
}

.bg-number {
    font-family: $secondFont;
    font-weight: 600;
    font-size: 500px;
    line-height: 110%;
    position: absolute;
    color: #f8f8f8;
    bottom: 0;
    z-index: -20;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: fit-content;
}

.next {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 200px;
}

.small-text {
    padding: 15px 0;
}

