@import './variables.scss';

.bg-number {
    font-size: 60px;
    line-height: 110%;
    color: $mainColor;
}

.carousel {
    width: 1200px;
    margin: 0 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.md-card {
    position: relative;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.1);
    border-radius: 9px;
    margin: 20px;
    padding: 30px 0;
    display: flex;
    justify-content: space-evenly;
}

.card-img {
    // width: 200px;
    // height: 200px;
    background: $mainColor;
}

.card-content {
    width: 80%;
    padding: 0 50px;
}

.card-title {
    font-family: Poppins;
    font-size: 18px;
    margin: 12px 0;
}

.float-right {
    position: relative;
    width: 300px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}   

.sm-header {
    display: flex;
    justify-content: space-between;
    margin: 20px 10%;
    width: calc(80% -100px);
    padding: 0 50px;
}

.header {
    width: calc(100% - 200px);
    height: 70px;
    display: flex;
    padding: 0 100px;
    justify-content: space-between;

}

.progressbar, .inner-progressbar {
    height: 10px;
    border-radius: 0px 10px 10px 0px;
}

.progressbar {
    width: 100%;
    background: rgba(0, 0, 0, 0.05);
    z-index: -1;
}

.inner-progressbar {
    width: 1%;
    background: $mainColor;
    z-index: 1;
}

.flex-container {
    display: flex;
    justify-content: space-evenly;
    padding: 50px 0;
}

.sm-container {
    max-width: 400px;
}

.arrow-container {
    width: 30px;
    height: 30px;
}

.arrow {
    position: absolute;
    left: 1050px;
    border: solid $mainColor;
    border-width: 4px 4px 0 0;
    display: inline-block;
    padding: 8px;
    border-radius: 2px; 
    margin: 25px 0;
}

.up {
    transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
}

p {
    margin: 0;
}

.center-icon {
    display: flex;
    align-items: center;

}