@import './variables.scss';

.title {
    margin-left: 200px;
}

.bg-number {
    font-size: 60px;
    line-height: 110%;
    color: $mainColor;
}

.carousel {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.md-card {
    width: 331px;
    height: 388px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.1);
    border-radius: 9px;
    margin: 20px;
}

.arrow {
    border: solid $mainColor;
    border-width: 0 10px 10px 0;
    display: inline-block;
    padding: 30px;
    border-radius: 5px; 
}

.left {
    transform: rotate(135deg);
}

.right {
    transform: rotate(-45deg);
}

.float-right {
    position: absolute;
    right: 0;
}

// Todo: delete
.filler {
    height: 200px;
    width: 100%;
    background: lightyellow; 
}
